.blogsContainer {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.blogsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: 1px solid black;
    background-color: #475E72;
    border-radius: 10px;
    max-width: 20rem;
    height: 20rem;
    gap: 1rem;
}

.blogsTitle a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.blogsImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}